$cancel-color-background-pale: #E6E6E6;
$cancel-color-background-pale_hovered: #DBDBDB;
$cancel-color-background-pale_focused: #E6E6E6;
$cancel-color-background_disabled: #F2F2F2;
$cancel-color-background-bright: #FFCC00;
$cancel-color-background-bright_hovered: #F2C200;
$cancel-color-background-bright_focused: #FFCC00;
$cancel-color-border-bright_focused: #B38F00;
$cancel-color-border-pale_focused: #B3B3B3;
$cancel-color-text_disabled: #7F7F7F;
$color-text_muted: #7F8285;
$background_muted: #F0F2F3;
$input_focused: #D9D9D9;
$done-color: #00B341;
$fail-color: #FF3333;
$wait-color: #FF9A00;

$media-mobile: 600px;

$popup-background: rgba(0, 0, 0, 0.4);

$popup-color: white;

$popup-button-border-color: rgba(0, 0, 0, 0.2);